<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.yumTree.quiz.GameroomDao">

    <!-- 게임방 생성 -->
    <insert id="createGame" parameterType="GameroomDto">
        INSERT INTO gameroom ()
        VALUES ()
    </insert>

    <!-- 게임 가져오기 -->
    <select id="getGame" parameterType="int" resultType="GameroomDto">
        SELECT * FROM gameroom
        WHERE game_id = #{gameId};
    </select>

    <!-- 모든 게임 가져오기 -->
    <select id="getAllGames" resultType="GameroomDto">
        SELECT * FROM gameroom
        <!-- WHERE STATUS <> "END" -->
    </select>

    <!-- 게임 삭제 -->
    <delete id="deleteGame" parameterType="int">
        DELETE FROM gameroom WHERE game_id=#{gameId};
    </delete>

    <!-- 게임 방 수정 -->
    <update id="updateGame" parameterType="GameroomDto">

    </update>

</mapper>