<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.yumTree.community.ReviewDao">

    <insert id="insert" parameterType="ReviewDto" useGeneratedKeys="true" keyProperty="rvNumber">
        INSERT INTO review (rv_cm_number, rv_content, rv_user_number)
        VALUES (#{rvCmNumber}, #{rvContent}, #{rvUserNumber})
    </insert>

    <select id="getReview" parameterType="int" resultType="ReviewDto">
        SELECT rv_number, rv_cm_number, rv_content, rv_regdate, rv_user_number
        FROM review
        WHERE rv_number = #{rvNumber}
    </select>

    <select id="getAllReview" parameterType="int" resultType="ReviewDto">
        SELECT rv_number, rv_cm_number, rv_content, rv_regdate, rv_user_number
        FROM review
        WHERE rv_cm_number = #{rvCmNumber}
        ORDER BY rv_regdate DESC
    </select>

    <update id="update" parameterType="ReviewDto">
        UPDATE review
        SET rv_content = #{rvContent}
        WHERE rv_number = #{rvNumber}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM review
        WHERE rv_number = #{rvNumber}
    </delete>

</mapper>