<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.yumTree.user.SignupDao">
<insert id="insertUser" parameterType="UserDto">
	INSERT INTO user(user_id,user_pw,user_name,user_gender,user_birth,user_role,user_height,user_weight,user_activity_level,user_target_calories)
	VALUES (#{userId},#{userPw},#{userName},#{userGender},#{userBirth},#{userRole},#{userHeight},#{userWeight},#{userActivityLevel},#{userTargetCalories})
</insert>

<select id="existsByUserId" parameterType="String">
SELECT count(*) from user where user_id = #{userId}

</select>


   
</mapper>